:root{
    --container_bc:rgba(16 18 27 / 40%);
    --search-bg: #14162b;
    --inactive-color: rgb(113 119 144 / 78%);
}
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}
body{
    font-family: "Poppins", sans-serif;
}
.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container{
background-color: var(--container_bc);
margin:auto auto;
border-radius:20px;
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
height: 90vh;
width: 90vw;
border: white solid 1px;
display: grid;
grid-template-columns: 30% 70%;
grid-template-rows: auto auto;
overflow: hidden;
}

.btns{
    /*justify-content: center;
    align-items: center;
    justify-self: auto;*/
    
}
.first_second{
    grid-column:2/3;
    grid-row:1/2;
    position: absolute;
    top:0;
    left: 0;
    margin-right: 13px;
    margin-top: 13px;


}
.menu-circle {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 15px;
    height: 15px;
    background-color: #f96057;
    border-radius: 50%;
    box-shadow: 24px 0 0 0 #f8ce52, 48px 0 0 0 #5fcf65;
    flex-shrink: 0;
    display: flex;
    position: absolute;
    top:0;
    left: 0;
    margin-top: 13px;
    margin-left: 15px;
    
}
a{
    text-decoration: none;
    color:white;
    display: block;
    margin-bottom: 10px;
    margin-left: 13px;
}
.search{
    background-color:var(--search-bg);
    color: aliceblue;
    width: 200px;
    height: 20px;
    border: none;
}
.btn-menu{
    background-color:transparent;
    border: none;
    color: var(--inactive-color);
    height:30px;
    margin-right: 20px;
    display: inline;
}
.second_first{
    margin-left:15px;
    grid-column: 1/2;
    grid-row: 2/3;
}
.title{
    color: var(--inactive-color);
    margin-bottom: 10px;
}
.fourth{
    grid-column:2/3;
    grid-row: 2/3;
    position: absolute;
    top:0;
    left: 0;
}
.marg{
    display: inline;
}
#g{
    margin-right:20px;
}